<% if @user %>
  <h2> Welcome, <%= @user.name%></h1>
<% end %>

<% @spaces.each do |space| %>
  <p>
  Name: <%= space.name %>
  Short description: <%= space.short_description %>
  Price: <%= space.price %>
  Date From: <%= space.date_from %>
  Date To: <%= space.date_to %>
  
  </p>
<% end %>

    
